<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h2 class="text-center alert  alert-info"> <strong class="tlt  ">We Are Happy To Help You </strong> <small>Shadow 616</small> </h2>
        
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="alert alert-info  ">

                    <h1 class="display-3 tlt">heading   {{session.Doctor.name}}
                    </h1>
                    <p class="lead">Jumbo helper text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae dolor ex omnis quae, vitae possimus fugit voluptate hic perferendis placeat quibusdam necessitatibus aperiam, nulla quas minus facilis! Et, aut vero.</p>
                    <hr class="coloredHR">
                    <p>More info</p>

                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class=" alert alert-info ">
                    <h1 class="display-3 tlt"> heading</h1>
                    <p class="lead">Jumbo helper text
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, aliquam ipsam? Obcaecati quasi cumque reiciendis sint aperiam dolores, quis consequatur quia sit voluptas harum amet nemo quisquam inventore, repellendus maiores.
                    </p>
                    <hr class="coloredHR">
                    <p>More info</p>

                </div>
            </div>
        </div>
        <div class="coloredHR"></div>
            <h2 class="text-center alert  alert-secondary"> <strong class="tlt  ">FAQ  </strong> </h2>
        
        <div class="row">
            
            <div class="col-xs-12 col-md-8 que">
                <div class="alert-info">
                    <h3 class="badge-secondary question">is everey thing free here ? 
                        <i class=" Mark" style="color:skyblue;  cursor:pointer" aria-hidden="true"></i> </h4>
                    <p class="alert-info answer"> sure  . MR SHadow616 support this for Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque sapiente excepturi temporibus quas blanditiis, sequi labore pariatur obcaecati porro? Error consequuntur quibusdam pariatur beatae esse perspiciatis nihil iure enim sint. </p>
                </div>
            
                <div class="alert-info">
                    <h3 class="badge-secondary question">is everey thing free here ? <i class=" Mark" style="color:skyblue;  cursor:pointer" aria-hidden="true"></i> </h4>
                    <p class="alert-info answer"> sure  . MR SHadow616 support this for Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque sapiente excepturi temporibus quas blanditiis, sequi labore pariatur obcaecati porro? Error consequuntur quibusdam pariatur beatae esse perspiciatis nihil iure enim sint. </p>
                </div>

                <div class="alert-info">
                    <h3 class="badge-secondary question">is everey thing free here ? <i class=" Mark" style="color:skyblue;  cursor:pointer" aria-hidden="true"></i> </h4>
                    <p class="alert-info answer"> sure  . MR SHadow616 support this for Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque sapiente excepturi temporibus quas blanditiis, sequi labore pariatur obcaecati porro? Error consequuntur quibusdam pariatur beatae esse perspiciatis nihil iure enim sint. </p>
                </div>

                <div class="alert-info">
                    <h3 class="badge-secondary question">is everey thing free here ? <i class=" Mark" style="color:skyblue;  cursor:pointer" aria-hidden="true"></i> </h4>
                    <p class="alert-info answer"> sure  . MR SHadow616 support this for Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque sapiente excepturi temporibus quas blanditiis, sequi labore pariatur obcaecati porro? Error consequuntur quibusdam pariatur beatae esse perspiciatis nihil iure enim sint. </p>
                </div>

                <div class="alert-info">
                    <h3 class="badge-secondary question">is everey thing free here ? <i class=" Mark" style="color:skyblue;  cursor:pointer" aria-hidden="true"></i> </h4>
                    <p class="alert-info answer"> sure  . MR SHadow616 support this for Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque sapiente excepturi temporibus quas blanditiis, sequi labore pariatur obcaecati porro? Error consequuntur quibusdam pariatur beatae esse perspiciatis nihil iure enim sint. </p>
                </div>
            
            
            
            
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="#" alt="DEMO">
            </div>
        </div>
        </div>
    </div>
</div>